{% extends 'base.html' %}
{% block content %}
<div class="">
    <div class="">
        <div class="">
            <h3>Planed</h3>
            <h5>{{ todo_list.title|upper }}</h5>
        </div>
        <ul>
            {% for todo in object_list %}
            <li>
                <div class="">
                    <div class="" role="button" onclick="location.href = '{% url 'todo:item-update' todo_list.id todo.id %}'">
                        {{ todo.title }}
                        ( Due {{ todo.due_date | date:"l, F, j"}} )
                    </div>
                </div>
            </li>
            {% empty %}
            <p>You don't have job have to do today!</p>
            {% endfor %}
        </ul>
        <p>
            <input 
                type="button" 
                value="Add a new task" 
                onclick="location.href='{% url 'todo:item-add' todo_list.id %}'">
            <input 
                value = "Update planed's name"
                type = "button"
                onclick = "location.href='{% url 'todo:list-update' todo_list.id %}'">
			<input 
				value = "Delete planed"
				type = "button"
				onclick = "location.href='{% url 'todo:list-delete' todo_list.id %}'">
           </p>
    </div>
</div>
{% endblock %}