<!DOCTYPE html>
<html lang="en">

<head>
    <!-- BASE TEMPLATE -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    {% load static %}
    <link rel="stylesheet" href="{% static 'todo_app/style.css' %}">
    <title>Django Todo List</title>
</head>

<body>
    <div class="">
        <h1 onclick="location.href='{% url "todo:index" %}'">
            Bamboo To-do Project
        </h1>
    </div>
    <div class="">
        {% block content %}
            {% comment %} 
                Represent other html file
            {% endcomment %}
        {% endblock %}
    </div>
</body>

</html>